body {
    background-image: url('../assets/imgs/background7.jpg');
}

.allData div {
    width: 250px;
    background-color: rgba(115, 17, 17, 0.3);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1240px) {
    main {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
        width: 100%;
    }

    .sobre{
        width: 30%;
        margin: 30px;
    }

    .sobre p{
        font-size: 25px;
    }

    .containerData {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 65%;
    }

    .allData {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1280px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .sobre p{
        font-size: large;
    }

    main section{
        margin: 10px;
        width: 90%;
    }

    .allData {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (orientation: landscape) and (min-width: 768px) and (max-width: 1280px) {
    main{
       flex-direction: row;
       align-items: baseline;
       justify-content: space-around;
    }

    .containerData{
        width: 50%;
    }
    .allData {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .allData div{
        width: 150px;
    }


}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    main section{
        margin: 10px;
        width: 90%;
    }

    .allData {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }


}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    main section{
        margin: 10px;
        width: 90%;
    }

    .allData{
        display: flex;
        flex-direction: column;
    }

    .allData div {
        margin-bottom: 20px;
        width: auto;
    }


}